<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <script type="module" src="/static/js/header.js"></script>
    <script type="module" src="/static/js/index.js"></script>
    <link rel="stylesheet" href='/static/css/header.css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href='/static/css/index.css'>
    <link rel="stylesheet" href="/static/css/ranking.css">
    <link rel="stylesheet" href="/static/css/author-card.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    <nav>
        <div id="logo">LOGO</div>
        <input type="checkbox" id="menu-button">
        <label class="menu-button" for="menu-button">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </label>
        <ul id="nav-menu">
            <li id="nav-index">首页</li>
            <li id="nav-release">发表博客</li>
            <li id="nav-list">我的博客</li>
            <li id="nav-home">我的主页</li>
            <li id="nav-intro">关于网站</li>
        </ul>
        <div id="nav-user-link"><a href="/login-reg/">登录/注册</a></div>
        <div id="nav-user-container">
            <img id="nav-user-avatar">
            <span></span>
            <ul hidden>
                <li id="nav-user-about">我的资料</li>
                <li id="nav-user-secret">修改密保</li>
                <li id="nav-user-category">分类管理</li>
                <li id="nav-user-logout">退出登录</li>
            </ul>
        </div>
    </nav>
    <article>
        <div id="background"></div>
        <div id="left-wrapper">
            <div id="hot5-list-container" class="list-container">
                <h1>-----热门文章-----</h1>
                <!-- <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a> -->
            </div>
            <div id="last5-list-container" class="list-container">
                <h1>-----最新文章-----</h1>
                <!-- <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a>
                <a href="" target="_blank"></a> -->
            </div>
        </div>
        <div id="middle—wrapper">
            <div id="search-box">
                <input id="search" onfocus="window['search-box'].style.outline='2px solid black'"
                    onblur="window['search-box'].style.outline=''" maxlength="20" placeholder="在此输入搜索文章的关键词">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>
        <div id="right-wrapper">
            <div id="author-container">
                <img id="author-avatar">
                <span id="author-nickname"></span>
                <div id="author-sign">个性签名: </div>
                <button id="author-about">Ta的资料</button>
                <button id="author-list">Ta的博客</button>
            </div>
        </div>
    </article>
    <footer>
        <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备2022027693号-1</a>
    </footer>

</body>

</html>