<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改博客</title>
    <script type="module" src="/static/js/header.js"></script>
    <!-- <script src="/static/js/wangEditor.js"></script> -->
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
    <script type="module" src="/static/js/update.js"></script>
    <link rel="stylesheet" href='/static/css/header.css'>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href='/static/css/wangEditor.css'>
    <link rel="stylesheet" href='/static/css/update.css'>
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    <nav>
        <div id="logo">LOGO</div>
        <input type="checkbox" id="menu-button">
        <label class="menu-button" for="menu-button">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </label>
        <ul id="nav-menu">
            <li id="nav-index">首页</li>
            <li id="nav-release">发表博客</li>
            <li id="nav-list">我的博客</li>
            <li id="nav-home">我的主页</li>
            <li id="nav-intro">关于网站</li>
        </ul>
        <div id="nav-user-link"><a href="/login-reg/">登录/注册</a></div>
        <div id="nav-user-container">
            <img id="nav-user-avatar">
            <span></span>
            <ul hidden>
                <li id="nav-user-about">我的资料</li>
                <li id="nav-user-secret">修改密保</li>
                <li id="nav-user-category">分类管理</li>
                <li id="nav-user-logout">退出登录</li>
            </ul>
        </div>
    </nav>
    <article>
        <div id="background"></div>
        <div id="left-wrapper">
            <div id="header-wrapper">
                <!--  -->
                <span>目录</span>
                <ul id="header-container">
                </ul>
            </div>
        </div>
        <div id="middle—wrapper">
            <div id="editor—wrapper">
                <div id="editor-toolbar">
                </div>
                <div id="editor-text-area">
                </div>
            </div>
        </div>
    </article>
    <button id="update-button">保存修改</button>
    <button id="delete-button">删除博客</button>
    <div class='mask'>
        <div id="update-container">
            <div id='close-button'>×</div>
            <input type="text" name="title" placeholder="文章标题，不超过20字" maxlength="20">
            <div id="category-container">
                <span>文章分类：</span>
                <select name="category" id="category">
                    <option value="default">default</option>
                </select>
                <button id='onoff-make-category'>新建分类</button>
            </div>
            <div id='make-category-container' hidden>
                <input type="text" id='new-category' name="new-category" placeholder="新建文章分类，不超过15字" maxlength="15">
                <div>
                    <button id='make-category'>新建</button>
                    <button id='cancel-make-category'>取消</button>
                </div>
            </div>
            <div id='limit-container'>
                <span>文章权限：</span>
                <div>
                    <input type="radio" name='limit' id='public' value="public" checked>
                    <label for="public">公共</label>
                </div>
                <div>
                    <input type="radio" name='limit' id='private' value="private">
                    <label for="private">私有</label>
                </div>
            </div>
            <button id='update-topic'>更新</button>
        </div>
    </div>
    <footer>
        <a href="https://beian.miit.gov.cn/" target="_blank">京ICP备2022027693号-1</a>
    </footer>
</body>

</html>